:root {

    /* sizes */
    --inner-gap-sm: 1rem;
    --inner-gap: 2rem;
    --outer-gap: 4rem;
    --form-height: 5rem;
    --font-size: 1.6rem;
    --heading-font-size: 2.8rem;
    --icon-size: 2.8rem;
    --icon-size-lg: 3.5rem;
    --button-padding: 1.7rem;
    
    /* colors */
    --color-main: 65, 105, 225;
    --color-grey-500: 170, 170, 170;
    --color-grey-200: 238, 238, 238;
}

@media (max-width: 400px) {
    :root {
        --inner-gap-sm: .5rem;
        --inner-gap: 1em;
        --outer-gap: 2rem;
        --form-height: 4rem;
        --font-size: 1.4rem;
        --heading-font-size: 2.3rem;
        --icon-size: 2rem;
        --icon-size-lg: 2.8rem;
        --button-padding: 1.2rem;
    }
}


/* Reset ============================================= */

ul,
form,
body,
button,
input {
    margin: 0;
}
input {
    box-sizing: border-box;
}
button,
ul {
    padding: 0;
}
button {
    width: auto;
    background: none;
    border: none;
}
ul {
    list-style: none;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    min-width: 28rem;
}
input {
    font-size: var(--font-size);
}


/* Grid ============================================= */
.o-grid {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--inner-gap) / 2);
    margin-right: calc(var(--inner-gap) * -1);
    margin-left: calc(var(--inner-gap) * -1);
}
.o-grid > * {
    padding: 0 calc(var(--inner-gap) / 2);
}
.o-grid__full {
    flex-grow: 1;
}




/* Heading ============================================= */
.c-heading {
    margin: 0 0 0 var(--inner-gap);
    font-size: var(--heading-font-size);
    font-weight: normal;
    text-transform: uppercase;
}
.c-heading__strong {
    font-weight: 600;
}


/* Main ============================================= */
.c-main {
    max-width: 50rem;
    width: 100%;
    margin: auto;
    font-size: var(--font-size);
    
    display: grid;
    grid-gap: var(--outer-gap);
    padding: var(--outer-gap);
    box-sizing: border-box;
}

/* Icon ============================================= */
.c-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}
.c-icon.--lg {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
}




/* List Item ============================================= */
/* .c-list {
    border-bottom: 1px solid #AAA;
} */
.c-list-item {
    padding: var(--inner-gap-sm) var(--inner-gap);
    background-color: rgb(var(--color-grey-200));
    margin-bottom: .2rem;
    word-break: break-word;
}
.c-list-item.--done {
    text-decoration: line-through;
    background-color: rgba(var(--color-grey-200), .4);
}


/* Button ============================================= */
.c-button {
    vertical-align: middle;
    height: var(--form-height);
    background-color: rgba(var(--color-main));
    padding: 0 var(--button-padding);
}

/* Input ============================================= */
.c-input {
    width: 100%;
    height: var(--form-height);
    padding: 0 var(--inner-gap);
    vertical-align: middle;
}

/* Checkbox ============================================= */
.c-checkbox {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
}


/* Utilities ============================================= */
.is-visually-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

